.header {
  border-bottom: 1px solid $border-solid;
  .logo {
    @media screen and (max-width: 1199px) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    @media screen and (min-width: 768px) {
      margin-right: 90px;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    @media (max-width: 767px), (min-width: 1200px) {
      justify-content: space-between;
    }
  }
  &__nav-list {
    display: flex;
    color: $primary-text-color;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__nav-item {
    & + & {
      margin-left: 50px;
    }
  }
  &__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    @include font(14px, 1.14, 500, 0.02em);
    transition: color 250ms $time-function;

    &:hover,
    &:focus,
    &.current {
      color: $primary-blue-color;
    }
    &.current::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      height: 4px;
      width: 100%;
      background: $primary-blue-color;
      border-radius: 2px;
      display: block;
    }
  }
  &__feedback {
    &-list {
      @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;
      }
      @media screen and (max-width: 767px) {
        display: none;
      }
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-left: auto;
      }
    }
    &-item {
      @media screen and (min-width: 1200px) {
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
    &-icon {
      fill: $primary-grey-color;
      margin-right: 10px;
    }
    &-link {
      @media screen and (max-width: 1199px) {
        margin-bottom: 10px;
        padding: 0px;
        @include font(12px, 1.17, 500, 0.02em);
      }
    }
  }
}
