.mobile-menu {
  &__hidden {
    @media screen and (min-width: 767px) {
      display: none;
      pointer-events: none;
    }
  }
  &.is-hidden {
    opacity: 0;
    visibility: 0;
    pointer-events: none;
  }
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  background-color: $primary-white-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  width: 100vw;
  height: 100vh;

  &__container {
    position: relative;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
.menu-open {
  @extend %menu-btns;
}
.menu-close {
  position: absolute;
  right: 20px;
  top: 20px;
  @extend %menu-btns;
}

.mobile-nav {
  &__link {
    @include font(40px, 1.18, 500, 0.02em);
    color: $primary-text-color;
    &:hover,
    &:focus,
    &.current-link-mobile {
      color: $primary-blue-color;
    }
  }
}
.mobile-feedback {
  &__item {
    @include font(24px, 1.16, 500, 0.02em);
  }
  &__item:first-child {
    margin-bottom: 32px;
    color: $primary-blue-color;
    @include font(34px, 1.18, 500, 0.02em);
  }
}
.mobile-socials {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  &__item {
    cursor: pointer;
    @include font(18px, 1.2, 500, 0.02em);
    margin-left: 10px;
    color: $primary-blue-color;
  }
  &__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
}
