@mixin font($fsz, $lh, $fw, $ls) {
  font-size: $fsz;
  line-height: $lh;
  font-weight: $fw;
  letter-spacing: $ls;
}
@mixin card-set($marg-t, $marg-l) {
  margin-top: $marg-t;
  margin-left: $marg-l;
}
