$primary-text-color: #212121;
$primary-blue-color: #2196f3;
$second-blue-color: #188ce8;
$primary-white-color: #ffffff;
$primary-grey-color: #757575;
$primary-adress-color: rgba(255, 255, 255, 0.6);
$primary-overlay-color: rgba(33, 150, 243, 0.9);
$primary-black-color: #000000;
$primary-button-color: #f5f4fa;
$primary-bcg-color: #2f303a;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$border-solid: #ececec;

// Для Adapt
:root {
  --card-set-adapt: 2;
}

// Для десктоп
:root {
  --card-set-item: 4;
}
